%h2 Stolen vehicle detail

%table.table{:width => '100%'}
    %tr
        %td Vehicle
        %td= link_to @theft.vehicle.fullname, theft_path(@theft.vehicle)
    %tr
        %td Date
        %td= @theft.when
    %tr
        %td Where
        %td= @theft.where
    %tr
        %td Returned
        %td= @theft.returned

%p
    -if @current_user.policeman?
        = link_to 'Edit', edit_theft_path(@theft), {class: "btn"}

    = link_to 'Back to stolen vehicles', thefts_path, {class: "btn"}
