%h2 Insurances

%p= link_to "New Insurance", new_insurance_path, {class: "btn btn-primary"}

%table.table.table-striped{:width => "100%"}
    %tr.thead 
        %th{:width => "60%"} Vehicle
        %th{:width => "20%"} From
        %th{:width => "10%"} Show
        %th{:width => "10%"} Edit
    - @insurances.each_with_index do |d, i|
        %tr{ :class => "#{i%2==0? 'even':'odd'}" }
            %td= d.vehicle.fullname
            %td= d.from
            %td= link_to "Detail", d
            %td= link_to "Edit", edit_insurance_path(d)

