%h2 Insurance detail

%table{:width => '100%'}
    %tr
        %td From
        %td= @insurance.from
    %tr
        %td To
        %td= @insurance.to
    %tr
        %td Vehicle
        %td= link_to @insurance.vehicle.fullname, vehicle_path(@insurance.vehicle)
    %tr
        %td Note
        %td= @insurance.note

%p= link_to 'Edit', edit_insurance_path(@insurance)

%p= link_to 'Back to insurances', insurances_path
