%h2 Change pasword

=form_tag do
    .control-group
        .control-label= label_tag :password, "Current password"
        .controls= password_field_tag :password
    .control-group
        .control-label= label_tag :password, "New password"
        .controls= password_field_tag :password_new
    .control-group
        .control-label= label_tag :password_confirmation
        .controls= password_field_tag :password_confirmation
    .control-group
        .controls= submit_tag "Change Password", :class => "btn btn-primary"

%p=link_to "Back to users", users_path, {class: 'btn'}
