%h2 Change pasword

=form_tag do
    .field
        %div= label_tag :password, "Current password"
        %div= password_field_tag :password
    .field
        %div= label_tag :password, "New password"
        %div= password_field_tag :password_new
    .field
        %div= label_tag :password_confirmation
        %div= password_field_tag :password_confirmation
    .field
        %div= submit_tag "Change Password"

%p=link_to "Back to users", users_path
