-if @offence_type.errors.any?
    -@offence_type.errors.full_messages.each do |msg|
        .form_error= msg
    %br

= form_for(@offence_type) do |f|
    .field
        %div= f.label :points
        %div= f.number_field :points
    .field
        %div= f.label :fine_from
        %div= f.number_field :fine_from
    .field
        %div= f.label :fine_to
        %div= f.number_field :fine_to
    .field
        %div= f.label :descr, "Description"
        %div= f.text_field :descr
    .field
        = f.submit
