%h2 Offence types

%p= link_to 'New offence type', new_offence_type_path, {class: "btn btn-primary"}

%table.table.table-striped{:width => "100%"}
    %tr.thead
        %th{:width => "10%"} Points
        %th{:width => "15%"} Fine from
        %th{:width => "15%"} Fine to
        %th{:width => "40%"} Description
        %th{:width => "10%"}
        %th{:width => "10%"}
    - @offence_types.each_with_index do |offence_type, i|
        %tr{:class => "#{i%2==0? 'even':'odd'}"}
            %td= offence_type.points
            %td= offence_type.fine_from
            %td= offence_type.fine_to
            %td= offence_type.descr
            %td= link_to 'Show', offence_type
            %td= link_to 'Edit', edit_offence_type_path(offence_type)
