%h2 Offence type detail

%table.table{:width => '100%'}
    %tr
        %td Points
        %td= @offence_type.points
    %tr
        %td Fine from
        %td= @offence_type.fine_from
    %tr
        %td Fine to
        %td= @offence_type.fine_to
    %tr
        %td Description
        %td= @offence_type.descr

= link_to 'Edit', edit_offence_type_path(@offence_type), {class: "btn"}

= link_to 'Back to offence types', offence_types_path, {class: "btn"}
