- if @plate.errors.any?
    .alert.alert-error
        - for message in @plate.errors.full_messages
            = message
            %br
    %br

=form_for @plate, :html => {:class => "form-horizontal"} do |f|
    .control-group
        .control-label= f.label :reg, "Registration number *"
        .controls= f.text_field :reg
    .control-group
        .control-label= f.label :valid_from
        .controls= f.text_field :valid_from
    .control-group
        .control-label= f.label :valid_to
        .controls= f.text_field :valid_to
    .control-group
        .control-label= f.label :driver_id, "Driver *"
        .controls= f.select :driver_id, @drivers.map { |d| [d.name, d.id] }
    .control-group
        .control-label= f.label :vehicle_id, "Vehicle *"
        .controls= f.select :vehicle_id, @vehicles.map { |v| [v.brand + " " + v.model, v.id] }
    .control-group
        .controls= f.submit :class => "btn btn-primary"
