%h2 Vehicle registrations

-if @current_user.clerk?
    %p= link_to "New vehicle registration", new_registration_plate_path, {class: "btn btn-primary"}

%table.table.table-striped{:width => "100%"}
    %tr.thead
        %th{:width => "20%"} Reg no.
        %th{:width => "15%"} Valid from
        %th{:width => "15%"} Valid to
        %th{:width => "20%"} Driver
        %th{:width => "20%"} Vehicle
        %th{:width => "10%"} Show
        %th{:width => "10%"} Edit
    -@plates.each_with_index do |p, i|
        %tr{:class => "#{i%2==0?"even":"odd"}"}
            %td= p.reg
            %td= p.valid_from
            %td= p.valid_to
            %td= p.driver.fullname
            %td= p.vehicle.fullname
            %td= link_to "Detail", p
            %td
                -if @current_user.clerk?
                    = link_to "Edit", edit_registration_plate_path(p)
