%h2 Vehicle registration detail

%table.table{:width => '100%'}
	%tr
		%td Registration number
		%td= @plate.reg
	%tr
		%td Valid from
		%td= @plate.valid_from
	%tr
		%td Valid to
		%td= @plate.valid_to

-if @current_user.clerk?
    = link_to 'Edit', edit_registration_plate_path(@plate), {class: "btn"}

= link_to "Back to vehicle registrations", registration_plates_path, {class: "btn"}
