- if @licence_restrict.errors.any?
    - for message in @licence_restrict.errors.full_messages
        .form_error= message
    %br

= form_for @licence_restrict do |f|
    .field
        %div= f.label :from
        %div= f.text_field :from
    .field
        %div= f.label :to
        %div= f.text_field :to
    .field
        %div= f.label :descr
        %div= f.text_field :descr
    .field
        %div= f.label :driver_id
        %div= f.select :driver_id, @drivers.map { |d| [d.fullname, d.id]}
    .field
        %div= f.submit
