%h2 Licence Restriction detail

%table{:width => '100%'}
    %tr
        %td Driver
        %td= link_to @licence_restrict.driver.fullname, driver_path(@licence_restrict.driver)
    %tr
        %td Valid from
        %td= @licence_restrict.from
    %tr
        %td Valid to
        %td= @licence_restrict.to
    %tr
        %td Description
        %td= @licence_restrict.descr

%p= link_to 'Edit', edit_licence_restrict_path(@licence_restrict)

%p= link_to 'Back to licence restrictions', licence_restricts_path

