- if @driver.errors.any?
    .alert.alert-error
        - for message in @driver.errors.full_messages
            = message
            %br
    %br

= form_for @driver, :html => {:class => "form-horizontal"} do |f|
    .control-group
        .control-label= f.label :name, "Name *"
        .controls= f.text_field :name
    .control-group
        .control-label= f.label :surname, "Surname *"
        .controls= f.text_field :surname
    .control-group
        .control-label= f.label :birth, "Date of birth (YYYY-MM-DD)"
        .controls= f.text_field :birth
    .control-group
        .control-label= f.label :place, "Place of birth"
        .controls= f.text_field :place
    .control-group
        .control-label= f.label :national_id, "National ID *"
        .controls= f.text_field :national_id
    .control-group
        .control-label= f.label :address
        .controls= f.text_field :address
    .control-group
        .controls= f.submit :class => "btn btn-primary"
