%h2 Add Driver

= form_for @driver do |f|
    %table
        %tr
            %td= f.label :name
            %td= f.text_field :name
        %tr
            %td= f.label :surname
            %td= f.text_field :surname
        %tr
            %td= f.label :birth
            %td= f.text_field :birth
        %tr
            %td= f.label :place
            %td= f.text_field :place
        %tr
            %td= f.label :valid_from
            %td= f.text_field :valid_from
        %tr
            %td= f.label :valid_to
            %td= f.text_field :valid_to
        %tr
            %td= f.label :national_id, "National ID"
            %td= f.text_field :national_id
        %tr
            %td= f.label :address
            %td= f.text_field :address
        %tr
            %td{:colspan => 2}
                = f.submit

%p= link_to "Back to Driver List", drivers_path
