%h2 Driver details

%table.table{:width => '100%'}
    %tr
        %td Name
        %td= @driver.name
    %tr
        %td Surname
        %td= @driver.surname
    %tr
        %td Birth
        %td= @driver.birth
    %tr
        %td Place
        %td= @driver.place
    %tr
        %td National_id
        %td= @driver.national_id
    %tr
        %td Address
        %td= @driver.address
    %tr
        %td Driving licence
        %td= (@driver.licence_groups.map { |g| g.group }).join ', '
    %tr
        %td Points
        %td= @driver.points

-if @current_user.clerk?
    = link_to 'Edit', edit_driver_path(@driver), {class: "btn"}

= link_to "Back to drivers", drivers_path, {class: "btn"}

%hr

-if @current_user.policeman? or @current_user.judge?
    %h2= "Driver's offences"
    - if @driver.offences.size > 0
        %table.table.table-striped{:width => "100%"}
            %tr.thead
                %th{:width => "20%"} Points
                %th{:width => "20%"} Date
                %th{:width => "60%"} Offence
            - @driver.offences.each do |o|
                %tr
                    %td= o.offence_type.points
                    %td= o.when
                    %td= o.offence_type.descr
    - else
        No offences

%hr

-if @current_user.clerk?
    %h2 Driver's bonus points
    - if @driver.bonus_points.size > 0
        %table.table.table-striped{:width => "100%"}
            %tr.thead
                %th{:width => "20%"} Points
                %th{:width => "20%"} Date
                %th{:width => "60%"} Note
            - @driver.bonus_points.each do |b|
                %tr
                    %td= b.points
                    %td= b.when
                    %td= b.note
    - else
        No bonus points

%hr

-if @current_user.policeman? or @current_user.clerk?
    %h2 Vehicles
    -if @driver.registration_plates.size > 0
        %table.table.table-striped{:width => "100%"}
            %tr.thead
                %th{:width => "25%"} VIN
                %th{:width => "15%"} Reg. number
                %th{:width => "60%"} Vehicle
            - @driver.registration_plates.each do |r|
                %tr
                    %td= r.vehicle.vin
                    %td= r.reg
                    %td= link_to r.vehicle.fullname, vehicle_path(r.vehicle)
    -else
        No vehicles
