%h2 Driver Details

%table{:width => 500}
    %tr
        %td Name
        %td= @driver.name
    %tr
        %td Surname
        %td= @driver.surname
    %tr
        %td Birth
        %td= @driver.birth
    %tr
        %td Place
        %td= @driver.place
    %tr
        %td Valid_from
        %td= @driver.valid_from
    %tr
        %td Valid_to
        %td= @driver.valid_to
    %tr
        %td National_id
        %td= @driver.national_id
    %tr
        %td Address
        %td= @driver.address

%p= link_to 'Edit', edit_driver_path(@driver)

%p= link_to "Back to drivers", drivers_path
