- if @vehicle.errors.any?
    .alert.alert-error
        - for message in @vehicle.errors.full_messages
            = message
            %br
    %br

= form_for @vehicle, :html => {:class => "form-horizontal"} do |f|
    .control-group
        .control-label= f.label :vin, "VIN code *"
        .controls= f.text_field :vin
    .control-group
        .control-label= f.label :year, "Year * (YYYY)"
        .controls= f.text_field :year
    .control-group
        .control-label= f.label :brand, "Brand *"
        .controls= f.text_field :brand
    .control-group
        .control-label= f.label :model, "Model *"
        .controls= f.text_field :model
    .control-group
        .control-label= f.label :color
        .controls= f.text_field :color
    .control-group
        .controls= f.submit :class => "btn btn-primary"
