%h2 Vehicles

-if @current_user.clerk?
    %p= link_to "New vehicle", new_vehicle_path, {class: "btn btn-primary"}

%table.table.table-striped{:width => "100%"}
    %tr.thead
        %th{:width => "20%"} VIN
        %th{:width => "10%"} Year
        %th{:width => "25%"} Brand
        %th{:width => "25%"} Model
        %th{:width => "10%"} Show
        %th{:width => "10%"} Edit
    - @vehicles.each_with_index do |v, i|
        %tr{ :class => "#{i%2==0? 'even':'odd'}" }
            %td= v.vin
            %td= v.year
            %td= v.brand
            %td= v.model
            %td= link_to "Detail", v
            %td
                -if @current_user.clerk?
                    = link_to "Edit", edit_vehicle_path(v)
