%h2 Vehicle Details

%table{:width => '100%'}
    %tr
        %td VIN
        %td= @vehicle.vin
    %tr
        %td Year
        %td= @vehicle.year
    %tr
        %td Brand
        %td= @vehicle.brand
    %tr
        %td Model
        %td= @vehicle.model
    %tr
        %td Color
        %td= @vehicle.color

%p= link_to "Back to Vehicles", vehicles_path
