%h2 Driving licence detail

%table.table{:width => '100%'}
    %tr
        %td Group
        %td= @licence_group.group
    %tr
        %td Valid from
        %td= @licence_group.valid_from
    %tr
        %td Valid to
        %td= @licence_group.valid_to
    %tr
        %td Driver
        %td= link_to @licence_group.driver.fullname, driver_path(@licence_group.driver)

= link_to 'Edit', edit_licence_group_path(@licence_group), {class: "btn"}

= link_to 'Back to driving licences', licence_groups_path, {class: "btn"}
