!!! 5
%html
    %head
        %title IIS - Vehicle Database
        %meta{"http-equiv"=>"Content-Type", "content"=>"text/html; charset=utf-8"}
        = stylesheet_link_tag    "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
    %body
        .container-fluid
            .row-fluid
                .span12
                    .page-header
                        %h1
                            Vehicle Database
                            /%small ddd
                            -if (rand(5) == 1)
                                %img{src: "/car#{rand(6)+3}.png"}
                            -else
                                %img{src: "/car2.png"}
                        .pull-right
                            - if @current_user
                                .btn-group{style: "top: -40px;"}
                                    %button.btn.disabled
                                        Logged in as
                                        %b= @current_user.name
                                    =link_to "Log out", log_out_path, class:"btn"
                                    =link_to "Administration", users_path, class:"btn"
                            - else
                                .btn-group{style: "top: -40px;"}   
                                    =link_to "Log in", log_in_path, class:"btn"
                .row-fluid
                    .span2
                        / MAIN MENU
                        %ul.nav.nav-tabs.nav-stacked
                            %li= link_to "Home", index_index_path
                            -#%li.divider
                            -#%li.nav-header Rozdeleni
                            -if @current_user
                                %li=link_to "Drivers", drivers_path
                                -if @current_user.clerk?
                                    %li=link_to "Driving licences", licence_groups_path
                                -if @current_user.policeman? or @current_user.judge?
                                    %li=link_to "Offences", offences_path
                                -if @current_user.clerk?
                                    %li=link_to "Bonus points", bonus_points_path
                                -if @current_user.clerk? or @current_user.policeman?
                                    %li=link_to "Vehicles", vehicles_path
                                -if @current_user.clerk?
                                    %li=link_to "Vehicle registrations", registration_plates_path
                                -if @current_user.policeman?
                                    %li=link_to "Vehicle thefts", thefts_path
                                -if @current_user.admin?
                                    %li=link_to "Offence types", offence_types_path
                    .span10
                        .navigation 
                            - if not ["index", "sessions", "users"].include? controller_name
                                %br
                                %ul.breadcrumb
                                    %li= link_to "Database", :root
                                    %span.divider= ">"
                                    - if action_name == "index"
                                        %li.active= controller.to_s
                                    - else
                                        %li= link_to controller.to_s, :action => :index
                                        %span.divider= ">"
                                        %li.active= controller.action_name.capitalize
                        - if notice
                            .alert.alert-success= notice
                        - if alert
                            .alert.alert-error= alert
                        = yield
