!!! 5
%html
    %head
        %title IIS - Vehicle Database
        %meta{"http-equiv"=>"Content-Type", "content"=>"text/html; charset=utf-8"}
        = stylesheet_link_tag    "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
    %body
        %h1= link_to "Vehicle Database", :root
        .navigation
            - if @current_user
                Logged in as
                %b= @current_user.name
                =" | "  
                =link_to "Log out", log_out_path
                =" | "
                =link_to "Administration", users_path
            - else
                =link_to "Log in", log_in_path
            - if not ["index", "sessions", "users"].include? controller_name
                %br
                = link_to "Database", :root
                = ">"
                - if action_name == "index"
                    = controller.to_s
                - else
                    = link_to controller.to_s, :action => :index
                    = ">"
                    = controller.action_name.capitalize
        - if notice
            .notice= notice
        - if alert
            .alert= alert
        - if flash[:error]
            .notice= flash[:error]
        = yield
